/*----------------------
       fonts
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*--------------------------
          body-styles
-----------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
    width: 1440px;
}
/*--------------------
    thumbnail styles
----------------------*/
.thumbnail-section {
    background-color: #2D25A0;
    height: 677px;
}
.banner {
    display: flex;
    justify-content: space-evenly;
    padding-left: 156px;
    padding-top: 153px;
    padding-right: 150px;
    padding-bottom: 86px;
}
.banner-title h2 {
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}
.live a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #E02C6D;
}
.banner-photo img {
    width: 556.01px;
    height: 438px;

}
/*---------------
     image hove
-----------------*/
.banner-photo:hover {
    transform: scale(0.5);
    transition: transform 1s 0.1s;
}
/*--------------------
    article styles
----------------------*/
.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding-left: 180px;
    padding-right: 210px;
}
article {
    box-shadow: 2px 2px 5px gray;
}
.article-cover img {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 16px;
    width: 300px;
    height: 256px
}
.heading {
    margin: 15px;
    font-size: 28px;
}
.description p {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 33px;
    font-size: 16px;
    color: #6C6C6C;
}
/*-----------------------
    winners-moment-photo-syle
---------------------------*/
.winners-photo
{
    margin-top: 130px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.champ-title
{
    font-size: 30px;
    color:#2D25A0;
}
.photos img
{
    width: 400px;
    height: 256px;
}
/*-----------------------
    winning-moment-video-style
---------------------------*/
.final-match
{
    margin-top: 130px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
/*-----------------------------
        footer style
-------------------------------*/
.football-footer 
{
    margin-top: 158px;
}
.football-cover
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover-info 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover-img img 

{
    width: 483.87px;
    height: 110px;
}
.img-icons i
 {
    Width: 32px;
    height: 32px;
    padding-left: 10px;
    color: #969BAB;
}
.copy-right 
{
    font-size: 18px;
}